# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
.venv/
env/
venv/

# Environment variables
.env
.env.*

# Logs & temp
*.log
*.pot
*.pyc
*.pkl
*.sqlite3

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Django specific (if applicable)
*.sqlite3
/staticfiles/
/media/

# Coverage / Testing
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover